<!DOCTYPE html>
<html>
<head>
  <title>Solargraph rails</title>
  <%= stylesheet_link_tag    "solargraph/rails/application", media: "all" %>
  <%= javascript_include_tag "solargraph/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
